/* You can add global styles to this file, and also import other style files */
.page-item.active .page-link{
    background-color: #11cdef !important;
    border-color: #11cdef !important;
}
.card-header.row{
    margin: 0;
}