<div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">Ajouter un Produit</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="ProductForm">
        <div class="form-group">
            <label class="form-control-label" for="input-username">Couleur</label>
            <input formControlName="couleur" type="text" id="input-username"
                class="form-control form-control-alternative" placeholder="" value="">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="input-username">Designation</label>
            <input formControlName="designation" type="text" id="input-designation"
                class="form-control form-control-alternative" placeholder="Designation" value="">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="input-username">Prix</label>
            <input formControlName="prix" type="text" id="input-prix" class="form-control form-control-alternative"
                placeholder="Prix" value="">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="input-username">Departement</label>
            <input formControlName="departement" type="text" id="input-departement"
                class="form-control form-control-alternative" placeholder="Departement" value="">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="input-username">quantite</label>
            <input formControlName="quantite" type="text" id="input-quantite"
                class="form-control form-control-alternative" placeholder="quantite" value="">
        </div>
    </form>
</div>
<div class="modal-footer row">
    <div>
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
    </div>
    <div>
        <button type="button" class="btn btn-success btn-outline-dark"
            (click)="saveProduct(ProductForm.value)">Save</button>
    </div>
</div>